{% extends 'base.html.twig' %}

{% block title %}
    Registration
{% endblock %}

{% block body %}
    <form method="post">
        <input type="text" name="login">
        <input type="password" name="password">
        <button type="submit">Сохранить</button>
    </form>
{% endblock %}

